/* Colores */
:root{
    --color-fondo: #fff;
    --color-letra: #1e4ea5;
    --color-letra-base: #000000;
    --color-fondo-2:#eaf4ff;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}  

.titulo_terciario{
    font-size: 1.2rem;
    text-align: center;
}

.seccion_grupal{
    padding: 10rem 0 8rem 0;
}

.presentacion{
    max-width: 700px;
    margin: 0 auto;
}

.presentacion p {
    text-align: justify;
}
.container{
    max-width: 1100px;  
    margin: 0 auto;    
    padding: 0 1.5rem;
}

.container .presentacion{
    background-color: var(--color-fondo);
    width: 100%;
    text-align: left;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.nav{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-fondo);
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.logo {
    width: 160px;
    height: auto;
}
.nav-buttons{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav-buttons li{
    margin: 0 1rem;
}

.nav-buttons li a{
    text-decoration: none;
    color: var(--color-texto);
    position: relative;
    display: inline-block;
    padding-bottom: 5px;       
}

.nav-buttons li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: var(--color-letra);
    transition: width 0.3s ease;
}
.nav-buttons li a:hover::after{
    width: 100%;
}

.titulo_secundario{
    font-size: 2rem;
    text-align: left;
}

.seccion_grupal2{
    background-color: var(--color-fondo-2);
    padding: 4rem;
}

.lista_integrantes{
    text-decoration: none; 
    color: inherit; 
    list-style: none;
}
/** Cards **/
.fastFacts{
    padding: 4rem 0;
    text-align: center;
}

.titulo_terciario{
    font-size: 1.8rem;
    font-weight: 600;
}

/* CARD */
.card{
    background-color: #fff;
    padding: 1.5rem 1rem;
    border-radius: 12px;
    border: 1px solid #eee;

    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
    transition: all 0.3s ease;
    flex: 0 0 23%;
}
.descripcion_grupal{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.12);
}

.card h3{
    margin: 0;
    font-size: 1.3rem;
    color: var(--color-letra-base);
}

.card h3 strong{
    font-weight: 600;
}

.card h3 span{
    font-size: 0.9rem;
    color: #666;
    display: block;
    margin-top: 5px;
}

/*FORMULARIO*/
.formulario{
    background-color: #07374a;
    width: 100%;
    text-align: center;
}   

.formulario h1{
    text-align: center;
}

.submit{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.form-group{
    display: flex;
    align-items: center;
    margin-bottom: 1.8rem;
}

.form-group label{
    width: 100px;
    margin: auto;
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.form-group input {
    flex: 1;
    width: 250px;
    min-width: 100px;
    max-width: 350px;
    padding: 5px;
}

/*Iconos*/

.container-icon{
    background-color: #07374a;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.container-icon i{
    font-size: 1.8rem;
    color: aliceblue;
    transition: all 0.3s ease;
}

.container-icon i:hover {
    color: #e1306c;    
    transform: scale(1.2); 
}

.container-icon p{
    font-size: 1rem;
    font-weight: bold;
    margin: 10px 15px;
}



